# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Example Classfiles
examples/global-policy/global/
examples/standard-policy/standard/

# Eclipse
.metadata
.classpath
.project
.externalToolBuilders
.settings
**/*.factorypath

# Environment setup
.direnv/
.envrc

# bins
framework/bin/