# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Eclipse
.metadata
.classpath
.project
.externalToolBuilders
.settings
**/*.factorypath

# Environment setup
.direnv/
.envrc

# bins
framework/bin/